# Open-Domain QA on Tables
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/deepset-ai/haystack/blob/master/tutorials/Tutorial15_TableQA.ipynb)

This tutorial shows you how to perform question-answering on tables using the `TableTextRetriever` or `ElasticsearchRetriever` as retriever node and the `TableReader` as reader node.

### Prepare environment

#### Colab: Enable the GPU runtime
Make sure you enable the GPU runtime to experience decent speed in this tutorial.
**Runtime -> Change Runtime type -> Hardware accelerator -> GPU**

<img src="https://raw.githubusercontent.com/deepset-ai/haystack/master/docs/_src/img/colab_gpu_runtime.jpg">

In [ ]:
# Make sure you have a GPU running
!nvidia-smi

In [ ]:
# Install the latest release of Haystack in your own environment
#! pip install farm-haystack

# Install the latest master of Haystack
!pip install --upgrade pip
!pip install git+https://github.com/deepset-ai/haystack.git#egg=farm-haystack[colab]

# The TaPAs-based TableReader requires the torch-scatter library
!pip install torch-scatter -f https://data.pyg.org/whl/torch-1.10.0+cu113.html

# If you run this notebook on Google Colab, you might need to
# restart the runtime after installing haystack.

### Start an Elasticsearch server
You can start Elasticsearch on your local machine instance using Docker. If Docker is not readily available in your environment (e.g. in Colab notebooks), then you can manually download and execute Elasticsearch from source.

In [ ]:
# Recommended: Start Elasticsearch using Docker via the Haystack utility function
from haystack.utils import launch_es

launch_es()

In [1]:
# In Colab / No Docker environments: Start Elasticsearch from source
! wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.9.2-linux-x86_64.tar.gz -q
! tar -xzf elasticsearch-7.9.2-linux-x86_64.tar.gz
! chown -R daemon:daemon elasticsearch-7.9.2

import os
from subprocess import Popen, PIPE, STDOUT

es_server = Popen(
    ["elasticsearch-7.9.2/bin/elasticsearch"], stdout=PIPE, stderr=STDOUT, preexec_fn=lambda: os.setuid(1)  # as daemon
)
# wait until ES has started
! sleep 30

In [ ]:
# Connect to Elasticsearch
from haystack.document_stores import ElasticsearchDocumentStore

# We want to use a small model producing 512-dimensional embeddings, so we need to set embedding_dim to 512
document_index = "document"
document_store = ElasticsearchDocumentStore(
    host="localhost", username="", password="", index=document_index, embedding_dim=512
)

## Add Tables to DocumentStore
To quickly demonstrate the capabilities of the `TableTextRetriever` and the `TableReader` we use a subset of 1000 tables of the [Open Table-and-Text Question Answering (OTT-QA) dataset](https://github.com/wenhuchen/OTT-QA).

Just as text passages, tables are represented as `Document` objects in Haystack. The content field, though, is a pandas DataFrame instead of a string.

In [ ]:
# Let's first fetch some tables that we want to query
# Here: 1000 tables from OTT-QA
from haystack.utils import fetch_archive_from_http

doc_dir = "data"
s3_url = "https://s3.eu-central-1.amazonaws.com/deepset.ai-farm-qa/datasets/documents/ottqa_tables_sample.json.zip"
fetch_archive_from_http(url=s3_url, output_dir=doc_dir)

In [4]:
# Add the tables to the DocumentStore

import json
from haystack import Document
import pandas as pd


def read_ottqa_tables(filename):
    processed_tables = []
    with open(filename) as tables:
        tables = json.load(tables)
        for key, table in tables.items():
            current_columns = table["header"]
            current_rows = table["data"]
            current_df = pd.DataFrame(columns=current_columns, data=current_rows)
            current_doc_title = table["title"]
            current_section_title = table["section_title"]
            document = Document(
                content=current_df,
                content_type="table",
                meta={"title": current_doc_title, "section_title": current_section_title},
                id=key,
            )
            processed_tables.append(document)

    return processed_tables


tables = read_ottqa_tables(f"{doc_dir}/ottqa_tables_sample.json")
document_store.write_documents(tables, index=document_index)

# Showing content field and meta field of one of the Documents of content_type 'table'
print(tables[0].content)
print(tables[0].meta)

      Result  ...            Score
0     Winner  ...        6-1 , 6-1
1     Winner  ...  6-2 , 4-6 , 6-3
2     Winner  ...        6-2 , 6-2
3  Runner-up  ...        3-6 , 2-6
4     Winner  ...  6-7 , 6-3 , 6-0
5     Winner  ...        6-1 , 6-0
6     Winner  ...  6-2 , 2-6 , 6-2
7     Winner  ...        6-0 , 6-4

[8 rows x 8 columns]
{'title': 'Rewa Hudson', 'section_title': 'ITF finals ( 7–3 ) -- Doubles ( 7–1 )'}

## Initalize Retriever, Reader, & Pipeline

### Retriever

Retrievers help narrowing down the scope for the Reader to a subset of tables where a given question could be answered.
They use some simple but fast algorithm.

**Here:** We use the `TableTextRetriever` capable of retrieving relevant content among a database
of texts and tables using dense embeddings. It is an extension of the `DensePassageRetriever` and consists of three encoders (one query encoder, one text passage encoder and one table encoder) that create embeddings in the same vector space. More details on the `TableTextRetriever` and how it is trained can be found in [this paper](https://arxiv.org/abs/2108.04049).

**Alternatives:**

- `ElasticsearchRetriever` that uses BM25 algorithm

In [ ]:
from haystack.nodes.retriever import TableTextRetriever

retriever = TableTextRetriever(
    document_store=document_store,
    query_embedding_model="deepset/bert-small-mm_retrieval-question_encoder",
    passage_embedding_model="deepset/bert-small-mm_retrieval-passage_encoder",
    table_embedding_model="deepset/bert-small-mm_retrieval-table_encoder",
    embed_meta_fields=["title", "section_title"],
)

In [ ]:
# Add table embeddings to the tables in DocumentStore
document_store.update_embeddings(retriever=retriever)

In [ ]:
## Alternative: ElasticsearchRetriever
# from haystack.nodes.retriever import ElasticsearchRetriever
# retriever = ElasticsearchRetriever(document_store=document_store)

In [7]:
# Try the Retriever
from haystack.utils import print_documents

retrieved_tables = retriever.retrieve("How many twin buildings are under construction?", top_k=5)
# Get highest scored table
print(retrieved_tables[0].content)

                             Name  ...              Status
0                  Twin Towers II  ...         Never built
1              World Trade Center  ...           Destroyed
2                Three Sixty West  ...  Under construction
3                  Gateway Towers  ...  Under construction
4                 Rustomjee Crown  ...  Under construction
5                  Orchid Heights  ...             On-hold
6                Hermitage Towers  ...            Proposed
7             Lokhandwala Minerva  ...  Under construction
8                    Lamar Towers  ...  Under construction
9            Indonesia One Towers  ...  Under construction
10                       Sky link  ...            Approved
11                  Vida Za'abeel  ...            Proposed
12  Broadway Corridor Twin Towers  ...         Never built
13   India Bulls Sky Forest Tower  ...  Under construction
14                 Capital Towers  ...  Under construction
15               One Avighna Park  ...  Under construction
16                     NEB Towers  ...             On hold
17          The Destiny ( Tower )  ...  Under construction
18          Oberoi Esquire Towers  ...  Under construction
19                Bhoomi Celestia  ...  Under construction

[20 rows x 6 columns]

### Reader
The `TableReader` is based on TaPas, a transformer-based language model capable of grasping the two-dimensional structure of a table. It scans the tables returned by the retriever and extracts the anser. The available TableReader models can be found [here](https://huggingface.co/models?pipeline_tag=table-question-answering&sort=downloads).

**Notice**: The `TableReader` will return an answer for each table, even if the query cannot be answered by the table. Furthermore, the confidence scores are not useful as of now, given that they will *always* be very high (i.e. 1 or close to 1).

In [ ]:
from haystack.nodes import TableReader

reader = TableReader(model_name_or_path="google/tapas-base-finetuned-wtq", max_seq_len=512)

In [9]:
# Try the TableReader on one Table (highest-scored retrieved table from previous section)

table_doc = document_store.get_document_by_id("List_of_tallest_twin_buildings_and_structures_in_the_world_1")
print(table_doc.content)

                             Name  ...              Status
0                  Twin Towers II  ...         Never built
1              World Trade Center  ...           Destroyed
2                Three Sixty West  ...  Under construction
3                  Gateway Towers  ...  Under construction
4                 Rustomjee Crown  ...  Under construction
5                  Orchid Heights  ...             On-hold
6                Hermitage Towers  ...            Proposed
7             Lokhandwala Minerva  ...  Under construction
8                    Lamar Towers  ...  Under construction
9            Indonesia One Towers  ...  Under construction
10                       Sky link  ...            Approved
11                  Vida Za'abeel  ...            Proposed
12  Broadway Corridor Twin Towers  ...         Never built
13   India Bulls Sky Forest Tower  ...  Under construction
14                 Capital Towers  ...  Under construction
15               One Avighna Park  ...  Under construction
16                     NEB Towers  ...             On hold
17          The Destiny ( Tower )  ...  Under construction
18          Oberoi Esquire Towers  ...  Under construction
19                Bhoomi Celestia  ...  Under construction

[20 rows x 6 columns]

In [12]:
from haystack.utils import print_answers

prediction = reader.predict(query="How many twin buildings are under construction?", documents=[table_doc])
print_answers(prediction, details="all")

{   'answers': [   Answer(answer='12', type='extractive', score=1.0, context=                             Name  ...              Status
0                  Twin Towers II  ...         Never built
1              World Trade Center  ...           Destroyed
2                Three Sixty West  ...  Under construction
3                  Gateway Towers  ...  Under construction
4                 Rustomjee Crown  ...  Under construction
5                  Orchid Heights  ...             On-hold
6                Hermitage Towers  ...            Proposed
7             Lokhandwala Minerva  ...  Under construction
8                    Lamar Towers  ...  Under construction
9            Indonesia One Towers  ...  Under construction
10                       Sky link  ...            Approved
11                  Vida Za'abeel  ...            Proposed
12  Broadway Corridor Twin Towers  ...         Never built
13   India Bulls Sky Forest Tower  ...  Under construction
14                 Capital Towers  ...  Under construction
15               One Avighna Park  ...  Under construction
16                     NEB Towers  ...             On hold
17          The Destiny ( Tower )  ...  Under construction
18          Oberoi Esquire Towers  ...  Under construction
19                Bhoomi Celestia  ...  Under construction

[20 rows x 6 columns], offsets_in_document=[Span(start=12, end=13), Span(start=18, end=19), Span(start=24, end=25), Span(start=42, end=43), Span(start=48, end=49), Span(start=54, end=55), Span(start=78, end=79), Span(start=84, end=85), Span(start=90, end=91), Span(start=102, end=103), Span(start=108, end=109), Span(start=114, end=115)], offsets_in_context=[Span(start=12, end=13), Span(start=18, end=19), Span(start=24, end=25), Span(start=42, end=43), Span(start=48, end=49), Span(start=54, end=55), Span(start=78, end=79), Span(start=84, end=85), Span(start=90, end=91), Span(start=102, end=103), Span(start=108, end=109), Span(start=114, end=115)], document_id='List_of_tallest_twin_buildings_and_structures_in_the_world_1', meta={'aggregation_operator': 'COUNT', 'answer_cells': ['Three Sixty West', 'Gateway Towers', 'Rustomjee Crown', 'Lokhandwala Minerva', 'Lamar Towers', 'Indonesia One Towers', 'India Bulls Sky Forest Tower', 'Capital Towers', 'One Avighna Park', 'The Destiny ( Tower )', 'Oberoi Esquire Towers', 'Bhoomi Celestia']})],
    'query': 'How many twin buildings are under construction?'}

The offsets in the `offsets_in_document` and `offsets_in_context` field indicate the table cells that the model predicts to be part of the answer. They need to be interpreted on the linearized table, i.e., a flat list containing all of the table cells.

In the `Answer`'s meta field, you can find the aggreagtion operator used to construct the answer (in this case `COUNT`) and the answer cells as strings.

In [16]:
print(f"Predicted answer: {prediction['answers'][0].answer}")
print(f"Meta field: {prediction['answers'][0].meta}")

Predicted answer: 12
Meta field: {'aggregation_operator': 'COUNT', 'answer_cells': ['Three Sixty West', 'Gateway Towers', 'Rustomjee Crown', 'Lokhandwala Minerva', 'Lamar Towers', 'Indonesia One Towers', 'India Bulls Sky Forest Tower', 'Capital Towers', 'One Avighna Park', 'The Destiny ( Tower )', 'Oberoi Esquire Towers', 'Bhoomi Celestia']}

### Pipeline
The Retriever and the Reader can be sticked together to a pipeline in order to first retrieve relevant tables and then extract the answer.

**Notice**: Given that the `TableReader` does not provide useful confidence scores and returns an answer for each of the tables, the sorting of the answers might be not helpful.

In [17]:
# Initialize pipeline
from haystack import Pipeline

table_qa_pipeline = Pipeline()
table_qa_pipeline.add_node(component=retriever, name="TableTextRetriever", inputs=["Query"])
table_qa_pipeline.add_node(component=reader, name="TableReader", inputs=["TableTextRetriever"])

In [18]:
prediction = table_qa_pipeline.run("How many twin buildings are under construction?")
print_answers(prediction, details="minimum")

[   {   'answer': '12',
        'context':                              Name  ...              Status
0                  Twin Towers II  ...         Never built
1              World Trade Center  ...           Destroyed
2                Three Sixty West  ...  Under construction
3                  Gateway Towers  ...  Under construction
4                 Rustomjee Crown  ...  Under construction
5                  Orchid Heights  ...             On-hold
6                Hermitage Towers  ...            Proposed
7             Lokhandwala Minerva  ...  Under construction
8                    Lamar Towers  ...  Under construction
9            Indonesia One Towers  ...  Under construction
10                       Sky link  ...            Approved
11                  Vida Za'abeel  ...            Proposed
12  Broadway Corridor Twin Towers  ...         Never built
13   India Bulls Sky Forest Tower  ...  Under construction
14                 Capital Towers  ...  Under construction
15               One Avighna Park  ...  Under construction
16                     NEB Towers  ...             On hold
17          The Destiny ( Tower )  ...  Under construction
18          Oberoi Esquire Towers  ...  Under construction
19                Bhoomi Celestia  ...  Under construction

[20 rows x 6 columns]},
    {   'answer': '7',
        'context':                                             Building or structure  ...                Listing
0                 Ford Assembly Plant Building Now Public Storage  ...       Seattle landmark
1                                        Immanuel Lutheran Church  ...  Seattle landmark NRHP
2                                                    Jensen Block  ...       Seattle landmark
3         Lake Union Steam Plant and Hydro House Now Zymogenetics  ...       Seattle landmark
4        New Richmond Laundry Now part of the Alley24 development  ...       Seattle landmark
5                         St. Spiridon Russian Orthodox Cathedral  ...       Seattle landmark
6  Supply Laundry Building Now part of the Stackhouse development  ...  Seattle landmark NRHP

[7 rows x 3 columns]},
    {   'answer': '8',
        'context':      Years                         Venue                      Location
0     1989      Bamm Hollow Country Club         Lincroft , New Jersey
1  1987-88         Navesink Country Club       Middletown , New Jersey
2  1985-86        Fairmount Country Club          Chatham , New Jersey
3  1983-84  Upper Montclair Country Club          Clifton , New Jersey
4     1982          Wykagyl Country Club       New Rochelle , New York
5     1981        Ridgewood Country Club          Paramus , New Jersey
6  1979-80  Upper Montclair Country Club          Clifton , New Jersey
7  1976-78         Forsgate Country Club  Monroe Township , New Jersey},
    {   'answer': '8',
        'context':    Model               Specification  ... Prime mover          Power output
0   RS-1                     E-1641A  ...      6-539T  1,000 hp ( 0.75 MW )
1   RS-2  E-1661 , E-1661A , E-1661B  ...      12-244  1,500 hp ( 1.12 MW )
2   RS-2                     E-1661C  ...      12-244  1,600 hp ( 1.19 MW )
3   RS-3  E-1662 , E-1662A , E-1662B  ...      12-244  1,600 hp ( 1.19 MW )
4  RS-11                      DL-701  ...      12-251  1,800 hp ( 1.34 MW )
5  RS-27                      DL-640  ...      16-251  2,400 hp ( 1.79 MW )
6  RS-32                      DL-721  ...      12-251  2,000 hp ( 1.49 MW )
7  RS-36                   DL-701XAP  ...      12-251  1,800 hp ( 1.34 MW )

[8 rows x 7 columns]},
    {   'answer': '10',
        'context':                                 Name or designation  ...                                                                            Notes
0                                 Aluminum Overcast  ...                                                    One of only ten flyable B-17s
1                              Avro Lancaster PA474  ...                      One of only two Lancasters in flying condition in the world
2   Avro Vulcan XH558 , aka Spirit of Great Britain  ...  The only Cold War / Falklands War -era Vulcan bomber to fly after 1986 . Res...
3                               Douglas DC-7B N836D  ...
4                               Douglas R4D-3 N763A  ...  Used by the US Navy during World War II . Placed on the National Register of...
5                                              FIFI  ...                                                     One of only two B-29s flying
6                                      Glacier Girl  ...  Forced to land in Greenland in 1942 along with five other P-38s and two B-17...
7                            Hawker Hurricane PZ865  ...  Last Hurricane produced . Retained by Hawker Aircraft for trials work . Give...
8                                        My Gal Sal  ...  Forced to land on the Greenland icecap during World War II and abandoned , a...
9                               Piccadilly Lilly II  ...  Last B-17 to serve in the US Air Force , flying her last mission in 1959 . U...
10                                    The Pink Lady  ...      Only flying B-17 survivor to have seen action in Europe during World War II
11                                          Sally B  ...         Only airworthy B-17 left in Europe . Used in the 1990 film Memphis Belle
12                              Sentimental Journey  ...  Based at the Commemorative Air Force Museum in Mesa , Arizona , and regularl...
13                                   Shoo Shoo Baby  ...                      Crash-landed in Sweden in 1944 . Restored from 1978 to 1988
14                                      Swamp Ghost  ...  Ran out of fuel and crash-landed in a swamp in Papua New Guinea . Recovered ...
15                                    Texas Raiders  ...  Maintained and flown by the Commemorative Air Force ( formerly Confederate A...
16                                      Thunderbird  ...                       Housed at the Lone Star Flight Museum in Galveston , Texas
17                                       Worry Bird  ...  Served in World War II and the Korean War before being retired in 1957 and p...
18                                      Yankee Lady  ...                                                                          Flyable

[19 rows x 6 columns]},
    {   'answer': '13',
        'context':        N    Year Country  ... Link                       Remark  K
0   003+    2013   INDIA  ...   LK                           RK  K
1    005    2006     USA  ...   LK                           RK  K
2    010    2014     ZAF  ...   LK                           RK  K
3    020    2010     USA  ...   LK                           RK  K
4    030   201 ?     USA  ...   LK                           RK  K
5    040    2007     USA  ...   LK                           RK  K
6    042    2004     USA  ...   LK  Only G-S With Large Battery  K
7    050   201 ?     USA  ...   LK                           RK  K
8    100  20 ? ?     USA  ...   LK                           RK  K
9    200  20 ? ?     USA  ...   LK                           RK  K
10   300    2013     EUR  ...   LK                           RK  K
11   400  20 ? ?     USA  ...   LK                           RK  K
12   995  20 ? ?     USA  ...   LK                           RK  K

[13 rows x 12 columns]},
    {   'answer': '5',
        'context':                    Team  ... Capacity
0              Barnsley  ...   23,009
1             Blackpool  ...   16,750
2         Bradford City  ...   25,136
3         Burton Albion  ...    6,912
4                  Bury  ...   11,840
5          Chesterfield  ...   10,400
6     Colchester United  ...   10,105
7         Coventry City  ...   32,500
8       Crewe Alexandra  ...   10,066
9      Doncaster Rovers  ...   15,231
10       Fleetwood Town  ...    5,311
11           Gillingham  ...   11,582
12             Millwall  ...   20,146
13      Oldham Athletic  ...   13,512
14  Peterborough United  ...   14,319
15            Port Vale  ...   18,947
16             Rochdale  ...   10,249
17    Scunthorpe United  ...    9,183
18     Sheffield United  ...   32,702
19      Shrewsbury Town  ...    9,875

[20 rows x 4 columns]},
    {   'answer': '7',
        'context':                                           Resource Name  ...                Added
0  Whitfield Estates-Broughton Street Historic District  ...    October 29 , 1993
1                                 John M. Beasley House  ...       March 5 , 1996
2    Whitfield Estates-Lantana Avenue Historic District  ...       March 8 , 1997
3                                          Austin House  ...    February 5 , 1998
4                                      Reid-Woods House  ...     August 31 , 2000
5                               Villa Serena Apartments  ...  September 29 , 2000
6                                  Paul M. Souder House  ...    November 2 , 2000
7                               Stevens-Gilchrist House  ...     August 17 , 2001

[8 rows x 3 columns]},
    {   'answer': '19',
        'context':                                           Name ( Alternative names in parenthesis )  ...                                                           Carries
0                                                           Arboretum Sewer Trestle  ...                                              Sewer and a footpath
1                                             Ballard Bridge ( 15th Avenue Bridge )  ...                                                    15th Avenue NW
2                                                                 Cowen Park Bridge  ...                                                    15th Avenue NE
3                                                         First Avenue South Bridge  ...                                                    State Route 99
4                                          Fremont Bridge ( Fremont Avenue Bridge )  ...                 Road connecting Fremont Avenue N and 4th Avenue N
5                               George Washington Memorial Bridge ( Aurora Bridge )  ...                                                    State Route 99
6                  Homer M. Hadley Memorial Bridge ( Third Lake Washington Bridge )  ...                                                     Interstate 90
7                         Jeanette Williams Memorial Bridge ( West Seattle Bridge )  ...  Road connecting Fauntleroy Way SW and the Spokane Street Viaduct
8                                    Jose Rizal Bridge ( 12th Avenue South Bridge )  ...                                   12th Avenue S and Interstate 90
9                                                   Lacey V. Murrow Memorial Bridge  ...                                                     Interstate 90
10                                                                  Magnolia Bridge  ...                                                 W Garfield Street
11                                                                  Montlake Bridge  ...                                                   State Route 513
12                                                    North Queen Anne Drive Bridge  ...                                                N Queen Anne Drive
13                                                                Salmon Bay Bridge  ...                                                      BNSF Railway
14                                                                Ship Canal Bridge  ...                                                      Interstate 5
15                                                              Schmitz Park Bridge  ...                                                    SW Admiral Way
16                                                            Spokane Street Bridge  ...                                                 SW Spokane Street
17  SR 520 Albert D. Rosellini Evergreen Point Floating Bridge ( Evergreen Point...  ...                                                   State Route 520
18                                    20th Avenue NE Bridge ( Ravenna Park Bridge )  ...                         20th Avenue NE ( pedestrian access only )
19                                                                University Bridge  ...                                                Eastlake Avenue NE

[20 rows x 6 columns]},
    {   'answer': '8',
        'context':              Location  ...                                                                         Comments
0                 Ayr  ...  Known as Wonderwest World 1988-1998 ; operated as Craig Tara by Haven since ...
1             Bahamas  ...  The site is now occupied by a new hotel and marina complex known as Old Baha...
2        Barry Island  ...                Operated independently until closure in 1996 . Demolished in 2005
3        Bognor Regis  ...         Known as Southcoast World 1987-1998 . Still open as Butlins Bognor Regis
4             Clacton  ...             Demolished , now a housing estate . Small area yet to be redeveloped
5  Filey Holiday Camp  ...  Operated independently for six weeks in 1986 , but the venture failed and it...
6            Minehead  ...  Known as Somerwest World 1986-1998 . Still open as Butlins Minehead 30 April...
7              Mosney  ...  Operated independently until closure and conversion into an Irish Government...
8            Pwllheli  ...  Known as Starcoast World 1990-1998 ; operated as Hafan Y Mor by Haven since ...
9            Skegness  ...               Known as Funcoast World 1987-1998 . Still open as Butlins Skegness

[10 rows x 4 columns]}]

## About us

This [Haystack](https://github.com/deepset-ai/haystack/) notebook was made with love by [deepset](https://deepset.ai/) in Berlin, Germany

We bring NLP to the industry via open source!  
Our focus: Industry specific language models & large scale QA systems.  
  
Some of our other work: 
- [German BERT](https://deepset.ai/german-bert)
- [GermanQuAD and GermanDPR](https://deepset.ai/germanquad)
- [FARM](https://github.com/deepset-ai/FARM)

Get in touch:
[Twitter](https://twitter.com/deepset_ai) | [LinkedIn](https://www.linkedin.com/company/deepset-ai/) | [Slack](https://haystack.deepset.ai/community/join) | [GitHub Discussions](https://github.com/deepset-ai/haystack/discussions) | [Website](https://deepset.ai)

By the way: [we're hiring!](https://www.deepset.ai/jobs)